body {
  background-color: #03a57a;
  margin: auto;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
}

#icon {
  background-color: #FFFF;
  width: 200px;
}

h1 {
  font-family: "Varela Round", sans-serif;
  font-size: 4em;
}

.link {
  color: #ffffff;
  font-family: "Varela Round", sans-serif;
  font-size: 1.5em;
  text-decoration: none;
  width: fit-content;
  margin: 16px auto;
  padding: 8px;
  border: solid 1px #028c67;
  border-radius: 2px;
}

.link:hover {
  background-color: #028c67;
}
